<h2>Edit Movie</h2>

<%= render 'form' %>

<%= link_to "Cancel", films_path,  class: "button button1" %>
<%= button_to 'Delete Movie', @film, method: :delete, class: "button button1", data: { confirm: 'Are you sure?'} %>
