/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
$red: #ff0000;
$light-gray: #fbfbfb;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #1a1a1a;
$white: #fefefe;
$body-background: $light-gray;
$body-font-color: $black;
$body-font-family: 'Contrail One', Helvetica, Roboto, Arial, sans-serif;

.top-bar-title {
  padding-left: 5%;
}

.top-bar-right {
  padding-right: 5%;
  border: none;
}

h1 {
  color: $red;
  letter-spacing: 1px;
}

h2:hover {
  color: $red;
}

h2 {
  padding-left: 19.5%;
}

h4 {
  color: $white;
}

#movie-list {
  padding-left: 5%;
  height: auto;
}

.button {
  background-color: $red;
  border: none;
  color: $white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: .4s; /* Safari */
  transition-duration: .4s;
  cursor: pointer;
}


.button1 {
    background-color: $white;
    color: black;
    border: 2px solid $red;
}

.button1:hover {
    background-color: $red;
    color: $white;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 2px solid $dark-gray;
}

ul li {
    padding: 8px 16px;
    border-bottom: 2px solid $dark-gray;
}

ul li:last-child {
    border-bottom: none;
}

.menu {
  border: none;
}

.pagination {
  text-align: center;
  li {

    float: left;

    a {
      color: $black;

      &:hover {
        color: $red;
      }
    }

    &.current {
      background-color: $dark-gray;
    }
  }
}

// .log-in {
//   background: url(http://ak4.picdn.net/shutterstock/videos/891349/thumb/1.jpg) no-repeat;
//   background-size: 100%;
// }

// .log-in {
//   width: 500px;
//   height: 400px;
//   position: relative;
//   z-index: 10;
// }
//
// .container {
//   width: 1000px;
//   height: 700px;
//   margin-top: 100px;
//   position:relative;
// }
//
// #marquee {
//   top:0;
//   left:0;
//   right:0;
//   bottom:0;
//   position:absolute;
// }
//
// #marquee img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   margin: auto;
//   min-width: 50%;
//   min-height: 50%;
// }
